@{
    ViewData["Title"] = "View Vacancies";
}

<!--View Shortlisted Resume Start-->
<div class="container-xxl py-5 mt-5">
    <div class="container">
        @*<h4 class="mb-4 wow fadeInUp" data-wow-delay="0.1s">List of Vacancies</h4>*@
        <div class="row g-3 my-4">
            <div class="col-8"><h4 class="mb-4">List of Vacancies</h4></div>
            <div class="col-4 text-end">  <a asp-area="" asp-controller="" asp-action="" class="btn btn-primary w-50">Back</a></div>
        </div>
        <hr />
        <div class="tab-class mt-5 text-center wow fadeInUp" data-wow-delay="0.3s">

            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="job-item p-4 mb-4">
                        <div class="row g-4">
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <i class="fa fa-3x fa-user text-primary mb-4"></i>
                                <div class="text-start ps-4">
                                    <h5 class="mb-3">Software Engineer</h5>
                                    <span class="text-truncate me-3"><i class="far fa-calendar-alt text-primary me-2"></i>Start Date: 01 March 2023</span>
                                    <span class="text-truncate me-3"><i class="far fa-calendar-alt text-primary me-2"></i>End Date: 01 June 2023</span>

                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    @*<a class="btn btn-light btn-square me-3" href=""><i class="fa fa-thumbtack text-primary"></i></a>*@
                                    <a class="btn btn-primary" asp-area="" asp-controller="ViewJobDetail" asp-action="ViewJobDetail">View</a>
                                </div>
                                @*<small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date of Shortlist: 01 Jan, 2045</small>*@
                            </div>
                        </div>
                    </div>
                    <div class="job-item p-4 mb-4">
                        <div class="row g-4">
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <i class="fa fa-3x fa-user text-primary mb-4"></i>
                                <div class="text-start ps-4">
                                    <h5 class="mb-3">Senior Software Engineer</h5>
                                    <span class="text-truncate me-3"><i class="far fa-calendar-alt text-primary me-2"></i>Start Date: 01 March 2023</span>
                                    <span class="text-truncate me-3"><i class="far fa-calendar-alt text-primary me-2"></i>End Date: 01 June 2023</span>

                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    @*<a class="btn btn-light btn-square me-3" href=""><i class="fa fa-thumbtack text-primary"></i></a>*@
                                    <a class="btn btn-primary" asp-area="" asp-controller="ViewJobDetail" asp-action="ViewJobDetail">View</a>
                                </div>
                                @*<small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date of Shortlist: 01 Jan, 2045</small>*@
                            </div>
                        </div>
                    </div>
                    <div class="job-item p-4 mb-4">
                        <div class="row g-4">
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <i class="fa fa-3x fa-user text-primary mb-4"></i>
                                <div class="text-start ps-4">
                                    <h5 class="mb-3">UI/UX Designer</h5>
                                    <span class="text-truncate me-3"><i class="far fa-calendar-alt text-primary me-2"></i>Start Date: 01 March 2023</span>
                                    <span class="text-truncate me-3"><i class="far fa-calendar-alt text-primary me-2"></i>End Date: 01 June 2023</span>

                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    @*<a class="btn btn-light btn-square me-3" href=""><i class="fa fa-thumbtack text-primary"></i></a>*@
                                    <a class="btn btn-primary" asp-area="" asp-controller="ViewJobDetail" asp-action="ViewJobDetail">View</a>
                                </div>
                                @*<small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date of Shortlist: 01 Jan, 2045</small>*@
                            </div>
                        </div>
                    </div>
                  
                    <a class="btn btn-primary py-3 px-5" href="">Browse More Jobs</a>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
<script src="~/js/ViewDeptVacancyImplementation.js"></script>

<!--View Shortlisted Resume End-->

 